
.loginblock{
    margin-left: auto;
    margin-right: 1%;

}
.burger {
    margin-left: auto;
    margin-right: 1%;

}
@media (min-width: 500px) {
    .burger {
       display: none;
        margin: 10%;
    }
}


@media (max-width: 500px) {
    .loginblock{
        display: none;

    }
    .emailHead {
        font-size: 70%;
    }
    .about{
        display: none;
    }
}

.fetching {
    float: right;
    margin-right: -5%;

}
.exitspan {
    margin-top: 20px;
    float: right;
    margin-left: 10px;
    margin-right: 12%;

}



.loginbutton{
    cursor: pointer;
    font-size:80%;
    text-decoration:none;
    color:#2b2b2b;
    padding: 5px ;
    background:#ffffff;
    border-radius:15px;
    border:3px solid #808080;
    font-weight: bold
}
.loginbutton:hover{
    background:#999999;
    color:#ffffff;

    transition: all 0.2s ease;


}


