h3 {
    margin-left: 15px;
}
.previewComponent{
    text-align: center;
    align-items: center;
}

.imgPreview {
    text-align: center;

}
.imgPreview img {
    width: 40%;
    height: 40%;
}
.previewComponent div {
    margin: 2%;
}



