
.container {
    width: 1200px;
    padding: 0px 15px;
    margin-top: 8%;
}
.Navbar {

}
.dropdown-menu {
    margin-top: 20%;
}
@media (min-width: 500px) {
    .MobileVersion {
        display: none;
    }
}
.MobileVersion {
    margin-top: 15%;
}
@media (max-width: 500px) {

    image.all{
        height: 10%;
        width: 10%;
    }
    .app-wrapper {
        margin: 0 auto;
        display: none;
        width: 100%;
        background-color: lavender;
        padding-top: 5%;
    }
    .Navbar {
        display: none;
    }
    .app-wrapper-content {

    display: none;


    }


}
.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-areas: "n c";
    grid-template-columns: minmax(10px, 1fr)  minmax(10px, 2.5fr) minmax(10px, 1fr);
    background-color: lavender;
    padding-top: 5%;

}


.app-wrapper-content {




}
.app-wrapper-content2 {
    grid-area: a;
    background-color: lavender;



}











/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
