.userPhoto {
    width: 90%;
    height:90%;
    margin: 1%;
    margin-top: 4%;
}
.greenorred {
    width: 2%;
    height: 2%;
}
.buttonfollow {

    margin-top: 6%;


}
.iksweb{
    display: inline-block;
    cursor: pointer;
    font-size:90%;
    text-decoration:none;
    padding:1px 5px;
    color:#354251;
    background:#ffff0;
    border-radius:5px;
    margin: 5px;
    }
.iksweb:hover{background:#354251;color:#ffffff;transition: all 0.2s ease;}
.iksweb:disabled{
    background:#DCDCDC;
    color:#A9A9A9;
    transition: all 0.2s ease;}

.pagin{display: inline-block;
    cursor: pointer;
    text-decoration:none;
    padding:0px 5px;

    }
.pagin:hover{
    text-shadow: black 0 0 14px;
    transition: all 0.2s ease;

}



.followed {
    font-weight: bold;

}
.activePage {

    display: inline-block;
    cursor: pointer;
    font-size:100%;
    text-shadow: black 0 0 14px;



}


.paginWindow {
    width:100%;
    height: 100%;

}

.user {
    display: grid;
    grid-template-areas: "l r";
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 2fr);
    grid-gap: 5px;
    align-content: center;
    border-bottom: 1px solid grey;
    margin-bottom: 1%;


}
.userdata {
    font-size: 90%;
    margin: 1%;
}
.userName {

    margin-top: 1%;
    font-size: 100%;


}
.leftBlock {
    text-align: center;
}


.users {


}
.paginator {
    margin-top: 5%;
    margin-bottom: 5%;

}

.userslist {
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.usersDataElement {
    margin: 3px;
}

@media (min-width: 500px) {
    .MobileUsers {
        display: none;
    }
}
.MobileUsers {
 margin-top: -15%;
}