.userPhoto {

    width: 30px;
    height: 30px;

}
.pagin{display: inline-block;
    cursor: pointer;
    font-size:13px;
    text-decoration:none;
    padding:0px 5px;
    color:#2b2b2b;


    border:0 ;
    }
.pagin:hover{text-shadow: black 0 0 4px;transition: all 0.2s ease;}



.followed {
    font-weight: bold;

}
.activePage {
    display: inline-block;cursor: pointer; font-size:16px;
    text-shadow: black 0 0 4px;

}

.users {
    display: grid;
    grid-template-areas: "l r" "dr dl";
    grid-template-columns: 50px 500px;
    grid-gap: 15px;



}
.paginator {
    margin-bottom: 35px;
}





.message {

}
.userName {
    color: grey;

}
.myName {
    color: white;
}


.message {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: white;
}
.mymessage {
    max-width: 255px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: dodgerblue;
    float: right;

}
.me {

}
.myPhoto {
    float: right;
    margin-left: 25px;

}

