.ProfileWrapper{}
@media (max-width: 500px) {
    .ProfileWrapper {
        display: none;
    }
}
.descriptionBlock img {
    position: relative;
}
.descriptionBlock h1 {
    padding: 10px;
    position: absolute;
    margin-top: -12%;
    color: lavender;
}


.editMode{display: inline-block;
    cursor: pointer;
    font-size:90%;
    text-decoration:none;
    padding:0px 5px;
    color:#2b2b2b;
    background:#ffffff;
    margin-bottom: 3%;
    margin-top: 3%;

    border:0 ;
}
.editMode:hover{text-shadow: black 0 0 4px;transition: all 0.2s ease;}

.status{display: inline-block;
    cursor: pointer;
    font-size:90%;
    text-decoration:none;
    padding:0px 5px;
    color:#2b2b2b;
    margin-bottom: 4%;
    margin-top: 1%;
    border:0 ;
}
.status:hover{text-shadow: grey 0 0 15px;transition: all 0.2s ease;}

.statusEdit {

    size: 300px 300px;
    font-size: 150%;
    border: 0;
}


.profilename {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 150%;

}

.error {
    color: red;
    margin: 10px;
}





.imageStyle {
    width: 1100px;
    height: 50px;
}

.profiledata {
    display: grid;
    grid-template-areas: "l r";
    grid-template-columns: 4fr 7fr;
    margin: 1%;

}
.profiledataleft {
    color: #999999;

    grid-area: l;
}

.profiledataright {
text-decoration: none;
    grid-area: r;

}
.profiledataright a{
    text-decoration: none;
    color: black;
}
.profiledataright div{
    text-decoration: none;
    color: black;
}




.contacts {
    color: #999999;
    padding-left: 10px;

}


.statuschange {
    color: grey;
    font-size: 80%;
}

.profileWrapper {


    display: grid;

    grid-template-areas:
            "n c";

    grid-template-columns: 1fr 2.1fr;
    border-radius: 5px;
    background-color: white;



}
.MdescriptionBlock {
   font-size: 70%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;



}
.descriptionBlock {
    grid-area: c;
    padding: 10px;
    background-color: white;
    border-radius: 5px;



}

.Mfirst_block {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    background-color: white;
    grid-area: n;
    text-align: center;
    padding-bottom: 5%;

}
.MButton{
   margin-bottom: 5%;
   margin-top: 3%;
}
.Mfirst_block img{
    grid-area: c;

    background-color: white;
    border-radius: 5px;
    height: 85%;
    width: 85%;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 3%;


}

.first_block {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    background-color: white;
    grid-area: n;
    width: 100%;
    padding: 15px;




}



.first_block img{
    width: 100%;
    height: auto;
    min-width: 60px;
    object-fit: cover;
    border-radius: 4px;
}



.second_block {
    height: 85%;
    width: 85%;
    margin: 8%;

}


.second_block a {
    width: 100%;

}

